@use '../../../../styles/partials/' as p;

.descr {
    display: flex;
    flex-direction: column;
    gap: p.$size-xl;
    @extend .body-copy;

    ul {
        margin: 0;
    }

    small {
        font-style: italic;
    }

    &__title {
        color: p.$secondaryColor--fontGrey;
        margin-bottom: p.$size-xxs;
    }

    &__container {
        display: flex;
        flex-direction: column;
        gap: p.$size-m;

        @include p.breakpoint(tablet) {
            flex-direction: row;
            justify-content: space-between;
        }
        

        &--fee {
            display: flex;
            flex-direction: column;
            gap: p.$size-xs;

            &-wrapper {
                display: flex;
                flex-direction: column;
                gap: 0;
            }
        }

        &--prereq {

            ul {
                display: flex;
                flex-direction: column;
                gap: p.$size-s;
            }
            

            // &-approval {

            //     &-wrapper {
            //         display: flex;
            //         flex-direction: column;
            //         gap: p.$size-xs;    
            //     }
            // }   
        }

        &--approval {
            display: flex;
            flex-direction: column;
            gap: p.$size-xs;
        }
        }
    }

    .approval-copy {
        display: flex;
        gap: p.$size-xs;
        position: relative;
    }

    
