@use '../../../styles/partials/' as p;

.form__container {
    display: flex;
    flex-direction: column;
    gap: p.$size-m;
    
    form {
        display: flex;
        flex-direction: column;
        gap: p.$size-m;

        .form__course-info {
            display: flex;
            flex-direction: column;
            gap: p.$size-xs;
            
            h5 {
                color: p.$secondaryColor--fontGrey;
            }
        }
    }

}

.form__description {
    @extend .body-copy;
}